
<span class=Article1>
<dt><span id=num>1</span> 
<b><font size=+1 > </font></b> 
<font size="-1">by. <span id=name>名無しさん(仮) </span>
		  <span id=date>02/01/26 12:15</span> </font></dt>
<br>
<dd id=text>実際新しく雇うなら、どっちがいいと思います？<br></dd>
<br>
<hr>
</span>

<span class=ArticleN>
<a name="127-2"></a>
<dt><span id=num></span> <b><font size=+1></font></b> <font size="-1">by. <span id=name>名無しさん(仮) </span>
		  <span id=date>02/01/26 12:23</span> </font></dt>
<br>
<dd id=text>今時文系/理系なんて言ってる奴は岩谷宏決定。<br></dd>
<br>
<br>
</span>

