<h1>slashdotテンプレート用部品</h1>

<hr>
<span class=ArticleWithMail>
<br>
<b>Posted by 	
  <a id=name_with_mail>name</a>
  on <span id=date>Thursday October 17, @01:12AM</span>
</b><br>
<font size="2"><b> </b></font>
<br>
<span id=text></span>
</span>

<hr>
<span class=ArticleWithoutMail>
<br>
<b>Posted by 	
  <span id=name>name</span>
  on <span id=date>Thursday October 17, @01:12AM</span>
</b><br>
<font size="2"><b> </b></font>
<br>
<span id=text></span>
</span>

<span class=ArticleAnonymous>
<br>
<b>Posted by annoymouse coward
  on <span id=date>Thursday October 17, @01:12AM</span>
</b><br>
<font size="2"><b> </b></font>
<br>
<span id=text></span>
</span>

