<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html id=thread>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=EUC-JP">
  <title id=title>Slashdot</title>
</head>
 <body bgcolor="#000000" text="#000000" link="#006666" vlink="#000000" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
  <!-- begin OSDN Navbar --> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#999999">
 
  <form action="http://www.osdn.com/osdnsearch.pl" method="get"></form>
 <tbody>
    <tr>
      <td><font size="-1">&#160;
        <b id=theme_selecter><font color="#006699">
          <a id=theme>theme</a> |
        </font></b> 
      </font></td>
      <td align="right" valign="middle">
      </td>
 <td nowrap="" width="20" align="right" valign="middle"><font size="-1"><a href="file://slashdot.org/users.pl?op=savemiscopts&amp;opt_osdn_navbar=0"><b>
X</b></a>&#160;</font></td>
 </tr>
  
  </tbody>
</table>
 <!-- end OSDN Navbar -->   <!-- advertisement code. --> 
<center> 
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="1"><br>
      </td>
    </tr>
  </tbody>
</table>
 
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="468"><br>
                   <a href="http://www.apache.org/" border=0><img src="/icons/apache_pb.gif" border=0></a>
        <BR> 
      </td>
    </tr>
  </tbody>
</table>
   </center>
 <!-- end ad code -->   
<table cellpadding="5" width="100%">
  <tbody>
    <tr>
      <td> 
      <table bgcolor="#ffffff" align="center" width="99%" border="0" cellspacing="0" cellpadding="0">
 	<tbody>
          <tr valign="middle">
 		<td valign="top" align="left">
        <a href="http://slashdot.org/" border=0><img src="http://images.slashdot.org/title.gif" border=0></a>
            </td>
 			 				<td><br>
            </td>
            <td><br>
 </td>
            <td><br>
 </td>
            <td><br>
 </td>
            <td>
               <a href="http://www.apache.org/" border=0><img src="/icons/apache_pb.gif" border=0></a>
            </td>
 			 	</tr>
        </tbody>
      </table>
      <table width="99%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
 	<tbody>
          <tr>
            <td valign="top" rowspan="5">  <!-- begin mainmenu block -->  
            <nobr><font size="2"><b> 
               &#160;<a id=navi_board>[BACK TO BOARD]</a> <br>
               &#160;<a id=navi_all>[ALL]</a> <br>
               &#160;<a id=navi_l50>[LAST 50]</a> <br>
            </b></font></nobr> 
</td>

<td valign="top" align="left">
<span>
<font color="#000000">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top" bgcolor="#006666"><img src="slc" width="13" height="16" alt="" align="top">
        <font face="arial,helvetica" size="4" color="#ffffff">
          <b id=title>Thread Title</b>
        </font>
      </td>
    </tr>
  </tbody>
</table>
<span id=articles></span>
<p> <!-- no ad 6 --> </p>
<p><font color="#000000"><b>(</b> 
   <b><a id=navi_l50>Read More...</a></b>  | 
   <b id=num_of_article></b> comments 
   <b>)</b>
</font></p>
</font>
</span>

<table><tr>
<form id=newarticle_form method=POST action="">
<input id=theme type=hidden name=theme>
<input id=board_key type=hidden name=board>
<input id=thread type=hidden name=thread>
<input type=hidden name=action value=newarticle>
<input type=submit value="SUBMIT" name="submit"> 
Name:<INPUT TYPE=text NAME=from SIZE=19> <br>
E-mail<font size=1> (not required) </font>:<INPUT TYPE=text NAME=mail SIZE=19><br>
<textarea rows=5 cols=64 wrap=OFF name=message></textarea>
</form><br>
</tr></table>

</td>
<td>&#160;</td>
            <td width="210" align="center" valign="top"> 
            <table width="200" border="0" cellpadding="0" cellspacing="0">
 		<tbody>
                <tr valign="top" bgcolor="#006666">
 			<td><br>
                  </td>
                </tr>
                <tr>
                  <td bgcolor="#cccccc"><br>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
<table width="200" border="0" cellpadding="0" cellspacing="0" id=board>
  <tbody>
    <tr valign="top" bgcolor="#006666">
       <td><font face="arial,helvetica" size="4" color="#ffffff"><b>
       Older Stuff</b></font></td>
    </tr>
    <tr>
      <td bgcolor="#cccccc">
       <font size="2" color="#000000">
       </font>

<span id=threadtitles>
&nbsp; 
<a id=link1>Thread Title</a><br>
</span>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
            <td><br>
            </td>
          </tr>
        </tbody>
      </table>
      <center><font size="2" color="#006666"> ] 	</font> </center>
 </td>
    </tr>
  </tbody>
</table>
 
</body>
</html>
