<html id=thread>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
  <title id=title></title>
</head>
<body bgcolor=#efefef text=black link=blue alink=red vlink=#660099>
<span id=theme_selecter></span>
<a id=navi_board>[BACK TO BOARD]</a> 
<a id=navi_all>[ALL]</a> 
<a id=navi_by100>[1-]</a> 
<a id=navi_l50>[LAST 50]</a>
<p><font size=+1 color=red id=title></font>
<dl>
<span id=articles>
<dt><span id=num>1</span> ：<span id=name></span> ：<span id=date></span>
<dd id=text></dd>
<br><br>
</span>
</dl>
<font color=red face="Arial"><b>151 KB</b></font>&nbsp;&nbsp;
<hr>
<center><a id=navi_new>Show New Articles only</a></center>
<hr>
<a id=navi_board>[BACK TO BOARD]</a> 
<a id=navi_all>[ALL]</a> 
<a id=navi_prev>[PREV 100]</a> 
<a id=navi_next>[NEXT 100]</a> 
<a id=navi_l50>[LAST 50]</a>

<form id=newarticle_form method=POST action="">
<input id=board_key type=hidden name=board>
<input id=thread type=hidden name=thread>
<input type=hidden name=action value=newarticle>
<input type=submit value="SUBMIT" name="submit"> 
Name：	<INPUT TYPE=text NAME=from SIZE=19> 
E-mail<font size=1> (not required) </font>：<INPUT TYPE=text NAME=mail SIZE=19><br>
<textarea rows=5 cols=64 wrap=OFF name=message></textarea>
</form><br>

<p>amrita bbs </p>
</body>
</html>
