<h1>2chテンプレート用部品</h1>

<hr>
<h2>名無しさん用記事表示テンプレート</h2>
<span class=ArticleAnonymous>
<dt><span id=num>535</span> 
名前：<font color=green><b>名無しさん@amrita</b></font> 
：<span id=date>02/10/14 19:23</span>
<dd id=text> 
</dd>
<br><br>
</span>

<hr>
<h2>一般用記事表示テンプレート</h2>

<span class=ArticleWithoutMail>
<dt><span id=num>535</span> 
名前：<font color=green><b id=name>name</b></font> 
：<span id=date>02/10/14 19:23</span>
<dd id=text> 
</dd>
<br><br>
</span>

<hr>
<h2>一般用記事表示テンプレート(メール付き)</h2>

<span class=ArticleWithMail>
<dt><span id=num>535</span> 
名前：<a id=name_with_mail><b>名無しさん </b></a> 
：<span id=date>02/10/14 19:23</span>
<dd id=text> 
</dd>
<br><br>
</span>

