<HTML>
<HEAD><TITLE>BBS TABLE for 2ch</TITLE><base target="_blank"></HEAD>
<BODY TEXT="#000000" link="#0000ff" alink="#ff0000" vlink="#660099" background="/2chba.gif">
BBS TABLE for amrita-bbs
<span id=theme_selecter></span>
<table border=1 cellspacing=11 cellpadding=2 width=95% bgcolor="#CCFFCC" align=center>
<tr><td>
<TABLE BORDER="0" WIDTH="100%"><TR>
<TD class=BoardList id=boardlist>

<font size=2>
<span id=categories>
  ¡Ú<B id=category>¥«¥Æ¥´¥ê¡¼</B>¡Û
  <span id=boards><A id=link href="xxx">ÈÄ1</A>/</span>
</span>

/¹¹¿·Æü <span id=last_update>02/10/01</span>
</font>

</TD></TR></TABLE>
</TD></TR></TABLE>

</BODY>
</HTML>